body {
  margin:0;
  padding:0;
  background: url("../img/home/people-office-group-team.jpg") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

a {
  color: white;
  font-weight: bold;
}
